<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>

<div class="row">
	<div class="text-xs-center">
		<h1><%= @post.title %></h1>
		<p><%= @post.display_day_published %></p>
		<%= @post.body.html_safe %>
	</div>		
</div>