<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<div class="row">
	<table class="table table-striped">
		<tr>
			<th colspan="5" style="border-top: none; border-bottom: 1px solid black;"><h1 style="font-weight: 700;">Your posts</h1></th>
		</tr>
		<%= render @posts %>
	</table>
</div>