.accounts.edit {
	.card {
		border: none;
		.card-block {
			padding: 10px;
			border-bottom: 1px solid black;
			.card-title h4 {
				font-weight: 700;
				font-size: 2.5rem;
				color: #212121;
				line-height: 1.1;
			}
		}
		.list-group {
			.list-group-item {
				border: none;
				label {
					font-family: 'Source Sans Pro', sans-serif;
					line-height: 30px;
					color: #212121;
					font-size: 1.2rem;
					font-weight: 600;
				}
				input, textarea {
					border: none;
					border-bottom: 1px solid rgba(0,0,0,0.3);
					border-radius: 0;
					padding: 5px 0px;
					font-size: 18px;
					color: rgba(0,0,0,0.85);
					transition: .2s ease-in-out;
				}
				textarea {
					resize: none;
					border-top: 1px solid rgba(0,0,0,0.3);
				}
				input:focus, textarea:focus {
					border-bottom: 1px solid rgba(0,0,0,0.9);
				}
				textarea:focus {
					border-top: 1px solid rgba(0,0,0,0.9);
				}
				.btn-account {
				    border: 1px solid rgba(0, 0, 0, 0.2);
				    padding: 10px 20px;
				    border-radius: 5px;
				    color: rgba(0, 0, 0, 0.8);
				    transition: .2s ease-in-out;
				    font-family: 'Source Sans Pro', sans-serif;
				    font-size: 1rem;
				    background-color: white;
				}
				.btn-account:hover {
					border: 1px solid rgba(0, 0, 0, 0.8);
				}
			}
		}
	}
}