body {
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: $primary-color-text;
}
h1 {
	font-weight: 600;
}
h6 {
	color: $primary-color-text;
	font-weight: 300;
}
p, p span {
    font-family: "Times New Roman", Times, serif !important;
    color: $primary-color-text;
    font-size: 21px !important;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;
}

.dropdown-menu::before {
	border-bottom: 9px solid rgba(0, 0, 0, 0.3);
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	left: 101px;
	position: absolute;
	top: -8px;
}
.dropdown-menu::after {
	border-bottom: 8px solid #FFFFFF;
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	left: 101px;
	position: absolute;
	top: -7px;
}
.source-sans-pro {
	font-family: 'Source Sans Pro', sans-serif;
}
