$light-gray: #f7f7f9;
$primary-color-dark:   #616161;
$primary-color:        #9E9E9E;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #212121;
$accent-color:         #FF5252;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$light-green: 		   #81C784;
