.posts.index {
	.title-container {
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		margin-bottom: 30px;

		.title {
			width: fit-content;
			width: -moz-fit-content;
			h5 {
				margin: 0;
				margin-bottom: -1px;
				border-bottom: 1px solid black;
				padding: 10px 0px;
			}
		}
	}
	// Redo: How posts are displayed

	.card {
		box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 4px;
		background-color: white;
		padding: 20px;
		height: 100%;
		margin-bottom: 15px !important;
		.author-info {
	    display: inline;
			img {
				border-radius: 50%;
				width: 46px;
				height: 46px;
				display: block;
				float: left;
				margin-right: 8px;
			}
			ul.author-post-info {
			    padding: 3px;
			    height: 40px;
					margin-bottom: 25px;
				li {
					list-style-type: none;
					color: rgba(0,0,0,.84);
					line-height: 20px;
					font-size: 15px;
				}
				li.info-date {
					color: rgba(0,0,0,.54) !important;
				}
			}
		}
		.card-topper {
			height: 200px;
			width: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 3px;
		}
		.card-block {
			padding: 0px;
			.card-title {
				font-size: 30px;
				margin-bottom: 0.5rem;
				line-height: 1.04;
    			letter-spacing: -.015em;
    			margin: 1rem 0rem;
				a {
					color: black;
					text-decoration: none;
				}
			}
			.tags {
				margin: 15px 0px;
			}
			.tags a {
				line-height: 20px;
				font-size: 16px;
				color: rgba(0,0,0,0.6);
				border: 1px solid rgba(0,0,0,0.3);
				padding: 5px 10px;
				border-radius: 5px;
				transition: .2s ease-in-out;
			}
			.tags a:hover {
				text-decoration: none;
				color: rgba(0,0,0,0.85);
				border: 1px solid rgba(0,0,0,0.8);
			}
			.card-text {
				font-size: 18px;
			    letter-spacing: -.004em;
			    font-weight: 300;
    			font-style: normal;
				color: black;
				font-family: 'Source Sans Pro', sans-serif !important;
			}
			a:hover {
				text-decoration: none;
			}
			.read-more {
				margin: 10px 0px;
				color: #787878;
			}
		}
	}

	.table-striped tbody tr:nth-of-type(odd) {
		background-color: white !important;
	}
	tr {
		td {
			a {
				color: black;
				font-family: 'Source Sans Pro', sans-serif;
				line-height: 30px;
			}
			a:hover {
				text-decoration: none;
			}
			a.btn {
				color: white;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style-type: none;
				}
				li.title {
					font-size: 22px;
					font-weight: 600;
				}
				li.date {
					color: #757575;
					font-family: 'Source Sans Pro', sans-serif;
				}
			}
			.btn-posts {
				line-height: 57px;
				border: 1px solid rgba(0,0,0,0.2);
				padding: 10px 20px;
				border-radius: 5px;
				color: rgba(0,0,0,0.8);
				transition:.2s ease-in-out;
			}
			.btn-posts:hover {
				border: 1px solid rgba(0,0,0,0.8);
			}
		}
		td.right {
			width: 100%;
		}
	}
}

.posts.edit, .posts.new {
	.card {
		border: none;
		.card-block {
			height: fit-content;
			padding: 0;
			.back-arrow {
				font-size: 10px;
				width: 25px;
				height: 25px;
				color: black;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAoElEQVRoge3TwQ3CMBQE0S2FEijBJVCCS6ATSqUEOBBfIhAOFtq1NU/6ys2aPUQC8E9nd8CIq6T79p1Oi39sN9WIfXy7k7Gp26f4amzqRrwL8S7EuxDvQrwL8S5LxifcVzU4vmtACYgcGiBJl4DQoQHS6z9490A98ogbI1IwIgUjUjAiBSNSMCLF0iOKsemw/YibN+c3bcSU8U1xBwCrewLyz1M2CHIwGgAAAABJRU5ErkJggg==');
				background-size: 25px;
				color: white;
			}
			.back-arrow:hover {
				color: black;
				text-decoration: none;
			}
		}
		.card-title h1 {
			font-size: 2.5rem;
			line-height: 1.04;
			letter-spacing: -.015em;
			font-weight: 700 !important;
			border-bottom: 1px solid black;
			margin: 0;
			padding: 10px 0px;

		}
		.list-group-item {
			padding: 15px 0px;
			border-left: 0;
			border-right: 0;
			display: block;
			input[type='text'], textarea {
				font-size: 14px;
			}
			textarea {
				height: 100px;
			}
			&:last-child {

			}
			.field {
				display: inline;
				label {
					padding: 0;
					margin-bottom: 0;
				}
				input, textarea {
					border: none;
					border-bottom: 1px solid rgba(0,0,0,0.3);
					border-radius: 0;
					padding: 5px 0px;
					font-size: 18px;
					color: rgba(0,0,0,0.85);
					transition: .2s ease-in-out;
				}
				textarea {
					resize: none;
				}
				input:focus, textarea:focus {
					border-bottom: 1px solid rgba(0,0,0,0.9);
				}
				.label-title {
					float: left;
					width: 65%;
					margin-right: 10px;
				}
				.form-title {
					width: 65%;
					float: left;
					clear: left;
					display: block;
					margin-right: 10px;
				}
				.form-banner {
					width: 34%;
				}
				.label-desc {
					float: left;
					width: 50%;
					margin-right: 10px;
				}
				.form-desc {
					width: 50%;
					float: left;
					clear: left;
					display: block;
					margin-right: 10px;
				}
				.form-tag {
					width: 49%;
				}
			}
		}
	}
	.btn-edit-new {
		border: 1px solid rgba(0, 0, 0, 0.2);
	    padding: 10px 20px;
	    border-radius: 5px;
	    color: rgba(0, 0, 0, 0.8);
	    transition: .2s ease-in-out;
	    font-family: 'Source Sans Pro', sans-serif;
	    font-size: 1rem;
	    background-color: white;
	    float: right;
	}
	.btn-edit-new:hover {
		border: 1px solid rgba(0, 0, 0, 0.8);
	}
	.link-back:hover {
		color: white;
	}
	.actions {
		width: fit-content;
	    padding: 0;
	    margin: 0;
	    float: right;
	}
	.link-show {
		float: right;
		line-height: 46px;
		margin-right: 15px;
	}
	img {
		opacity: 0.4;
		transition: .2s ease-in-out;
		margin: 10px 0px;
	}
	img:hover {
		opacity: 0.9;
	}
	.field {
		margin-bottom: 15px;
	}
}

.posts.show {
	.post-main-title {
		margin: 1rem 0rem;
		font-weight: 700 !important;
		font-size: 2.5rem !important;
		margin-top: 30px;
	}
	.post-body {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		h1 {
			font-weight: 600;
			font-size: 1.8rem !important;
			font-family: 'Source Sans Pro', sans-serif;
			color: #212121 !important;
			margin: 1rem 0rem !important;
		}
		h2 {
			font-weight: 700;
			font-size: 1.6rem !important;
			font-family: 'Source Sans Pro', sans-serif;
			color: #212121;
		}
		h3 {
			font-weight: 600;
			font-size: 1.4rem !important;
			font-family: 'Source Sans Pro', sans-serif;
			color: #212121;
		}
		h4 {
			font-weight: 600;
			font-size: 1.2rem !important;
			font-family: 'Source Sans Pro', sans-serif;
			color: #212121;
		}
		h5 {
			font-weight: 500;
			font-size: 1.1rem !important;
			font-family: 'Source Sans Pro', sans-serif;
			color: #212121;
		}
		h6 {
			font-weight: 500;
			font-size: 1rem !important;
			font-family: 'Source Sans Pro', sans-serif;
			color: #212121;
		}
	}
	.author-info {
	    margin: 0;
	    padding: 0;
	    display: inline;
	    height: 60px;
   	 	width: 60px;
		img {
			border-radius: 50%;
			width: 60px;
			height: 60px;
			display: block;
    		float: left;
    		margin-right: 8px;
		}
		h4 {
			font-size: 17px;
			font-weight: 400;
			display: inline-block;
			clear: left;
		}
		h6 {
			font-weight: 500;
		}
		ul.author-post-info {
		    padding: 3px;
			height: 55px;
			li {
				list-style-type: none;
				color: rgba(0,0,0,.84);
			    line-height: 18px;
    			font-size: 15px;
			}
			li.info-date {
				color: rgba(0,0,0,.54) !important;
			}
		}
	}
	.author-title {
		margin-top: 10px;
	}
	.tags {
		margin-bottom: 15px;
	}
	.tags a {
		line-height: 20px;
		font-size: 16px;
		color: rgba(0,0,0,0.6);
		border: 1px solid rgba(0,0,0,0.3) !important;
		padding: 5px 10px;
		border-radius: 5px;
		transition: .2s ease-in-out;
	}
	.tags a:hover {
		text-decoration: none;
		color: rgba(0,0,0,0.9);
		border: 1px solid rgba(0,0,0,0.8) !important;
	}
	.author-published {
		color: #757575;
		font-size: 19px !important;
		font-family: 'Source Sans Pro', sans-serif !important;
	}
	.btn-posts {
		line-height: 57px;
		border: 1px solid rgba(0,0,0,0.2);
		padding: 10px 20px;
		border-radius: 5px;
		color: rgba(0,0,0,0.8);
		transition:.2s ease-in-out;
	}
	.btn-posts:hover {
		border: 1px solid rgba(0,0,0,0.8);
		text-decoration: none;
	}
}

@media screen and (min-widthL 34rem) {
	.posts.index .card {
		height: 440px;
	}
}
/* 768px */
@media screen and (min-widthL 48rem) {
	.posts.index .card {
		height: 420px;
	}
}
/* 1200px */
@media screen and (min-widthL 75rem) {
	.posts.index .card {
		height: 415px;
	}
}
