.posts.index {
	.card {
		border: 1px solid rbga(0, 0, 0, 0.1) !important;
		border-radius: 4px;
		height: 100%;
		margin-bottom: 20px;
		background-color: white;
		.card-topper {
			height: 200px;
			width: 100%;
			background-size: cover;
			background-position: center;
		}
		.card-block {
			padding: 10px;
			.card-title {
				font-size: 1.4rem;
				margin-bottom: 0.5rem;
				a {
					color: black;
					text-decoration: none;
				}
			}
			.tag-img {
				height: 20px;
				width: 20px;
				background-size: 20px;
				background-image: url('/assets/tag.png');
				margin-right: 5px;
				float: left;
			}
			.tags a {
				line-height: 20px;
				font-size: 14px;
				color: $secondary-text-color;
			}
			.tags a:hover {
				text-decoration: none;
			}
			.published-date {
				font-size: 0.9rem;
				color: #787878;
				font-weight: 300;
				margin-top: 0.3rem;
				margin-bottom: 0.3rem;
			}
			.card-text {
				font-size: 0.9rem;
				color: black;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}

.posts.edit, .posts.new {
	.card {
		.card-block {
			background-color: $light-gray;
		}
		.card-title {
			margin-bottom: 0;
			font-size: 18px;
		}
		.list-group-item {
			padding: 10px;
			border-left: 0;
			border-right: 0;
			input[type='text'], textarea {
				font-size: 14px;
			}
			textarea {
				height: 100px;
			}
			&:last-child {
				background-color: $light-gray;
			}
		}
	}
}

.posts.show {
	.author-bio {
		background-color: #f2f2f2;
		padding: 15px 30px;
		margin: 30px 0;
		img {
			border-radius: 50%;
		}
		img, h4 {
			margin-bottom: 10px;
		}
		h4 {
			font-weight: bold;
		}
		h6 {
			font-weight: 500;
		}
	}
}

@media screen and (min-widthL 34rem) {
	.posts.index .card {
		height: 440px;
	}
}
/* 768px */
@media screen and (min-widthL 48rem) {
	.posts.index .card {
		height: 420px;
	}
}
/* 1200px */
@media screen and (min-widthL 75rem) {
	.posts.index .card {
		height: 415px;
	}
}