.thin-text { font-weight: 300; }

.account-icon {
  position: relative;  
}

.apple_pagination {
  background: #fff;
  border: 2px solid #F5F5F5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #bdbdbd; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: #757575; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: none; }